@page "/VistaMovcuentas"

@using BlazorCrud.Shared
@using CurrieTechnologies.Razor.SweetAlert2
@using BlazorCrud.Client.Services

@inject SweetAlertService Swall
@inject IMovCuenta movimientoService
@inject HttpClient Http

<h3>Movimientos de Cuentas</h3>

<a class="btn btn-success btn-sm mb-3" href="FormularioMovCuenta">Nueva Operacion</a>

<table class="table">
    <thead>
        <tr>
            <th>Saldo Cuenta</th>
            <th>Tipo Movimiento</th>
            <th> Valor Movimiento </th>
            <th>Valor Pagado</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @if (listaMov == null)
        {
            <tr>
                <td colspan="13" align="center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708" />
                    </svg>
                </td>
            </tr>
        }
        else
        {
            @foreach (var MovC in listaMov)
            {
                <tr>
                    <td>@MovC.saldo!.IdSaldoCuenta</td>
                    <td>@MovC.movimiento!.Nombre</td>
                    <td>@MovC.ValorMovimiento</td>
                    <td>@MovC.ValorMovimientoPagado</td>
                    <td>@MovC.Descripcion</td>


                    <td class="d-flex justify-content-start align-items-center">
                        <a class="btn btn-primary btn-sm" href="FormularioMovCuenta/@MovC.IdMovimientoCuenta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </a>
                        <button type="button" class="btn btn-info btn-sm ms-2" @onclick="(() => MostrarDetalles(MovC))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (mostrarModal)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle del movimiento</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CerrarModal"></button>
                </div>
                <div class="modal-body">

                    <p><strong>Saldo Cuenta:</strong> @MovSeleccionado.saldo!.IdSaldoCuenta. </p>
                    <p><strong>Tipo: </strong> @MovSeleccionado.saldo!.IdSaldoCuenta. </p>
                    <p><strong>Fecha Movimiento::</strong> @MovSeleccionado.FechaCreacion</p>
                    <p><strong>Valor Movimiento:</strong> @MovSeleccionado.ValorMovimiento</p>
                    <p><strong>Valor Movimiento Pagado:</strong> @MovSeleccionado.ValorMovimientoPagado</p>
                    <p><strong>Generado Automaticamente:</strong> @MovSeleccionado.GeneradoAutomaticamente</p>
                    <p><strong>Descripcion:</strong> @MovSeleccionado.Descripcion</p>
                    <p><strong>Fecha Creacion:</strong> @MovSeleccionado.FechaCreacion</p>
                    <p><strong>Usuario Creacion:</strong> @MovSeleccionado.UsuarioCreacion</p>
                    <p><strong>Fecha Modificacion:</strong> @MovSeleccionado.FechaModificacion</p>
                    <p><strong>Usuario Modificacion:</strong> @MovSeleccionado.UsuarioModificacion</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}




@code {
    private List<MovimientoCuentaMC> listaMov;
    private MovimientoCuentaMC MovSeleccionado;
    private bool mostrarModal = false;

    protected override async Task OnInitializedAsync()
    {
        listaMov = await movimientoService.Lista();
    }

    private void MostrarDetalles(MovimientoCuentaMC Mov)
    {
        MovSeleccionado = Mov;
        mostrarModal = true; 
    }

    private void CerrarModal()
    {
        mostrarModal = false;
    }

}
